/**
	Incluir aquí las reglas css propias de este proyecto
*/

#cuerpo_js_form_1000943_form_ml_detalles_registro table tbody tr .ei-ml-fila{
	border-top: 1px solid #585C98;
	padding-top: 10px;
	padding-bottom: 10px;
}

#cuerpo_js_form_1000943_form_ml_detalles_registro table tbody tr .ei-ml-fila-selec{
	border-top: 1px solid #585C98;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent !important;
	color: #000 !important;
}

.unMensajeAprender {
	position: fixed;
  left: 50%;
  margin-left: -160px;
  margin-top: 34px;
	padding: 5px 15px;
	z-index: 0;
	font-size: 15px;
}

.celesteExitoso {
	background-color: #99bbff;
	color: #000;
	text-shadow: #fff 0 0 10px;
	border: 2px dotted #6600cc;
	opacity: 0.88;
}

.ef-entidadespopup {
  text-align: left;
  padding-top: 7px;
}

.ef-entidadespopup2 {
  text-align: left;
  padding: 7px 0px 0px 20px;
}

.ef-entidadespopup::before {
  content: '\A';
}

.ef-sga-info-amariilo {
  border: none;
  color: #220033;
  background-color: #FCFFA8;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  text-align: center;
}

.ef-textarea2 {
	background-color: transparent;
	border: 0px solid #000000;
}

.ef-ver-fijo_suc_dpto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: 500;
	font-size: 14px;
	padding: 5px 0px 9px 15px;
}

.ei-form-etiq-oblig2 {
	float: left;
	margin-right: 4px;
	line-height: 23px;
	font-weight: bold;
	padding: 2px 0px 9px 0px;
}

.ei-form-etiq-oblig3 {
	float: left;
	margin-right: 0px;
	line-height: 20px;
	font-weight: bold;
	padding: 2px 0px 9px 0px;
	font-size: 11px;
}

.ei-form-etiq-oblig4 {
	float: left;
	margin-right: 0px;
	line-height: 20px;
	font-weight: 500;
	padding: 2px 0px 9px 0px;
	font-size: 11px;
}

.ef-ver-fijo {
  border: none;
  width: 20px;
  text-align: center;
  background-color: transparent;
}

.ef-ver-fijo2 {
  border: none;
  width: 20px;
  text-align: left;
  background-color: transparent;
	font-weight: bold;
	padding: 8px 10px 0px 10px;
	font-size: 11px;
	margin-left: 0px;
}

.ef-ver-fijo3 {
  border: none;
  width: 20px;
  text-align: center;
  background-color: transparent;
	margin-right: 500px;
	padding: 7px;
}

.ef-fijo-frm_estadoactual {
  text-align: left;
	padding: 7px 5px 5px 15px;;
}
